*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: blue;
    list-style: none;
}
.wrap{
    flex-flow: row wrap;
}
section{
    width: 100%;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.h1,.h2,.h3,.ol{
    width: 18%;
    height: 25vh;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.p{ font-size: small; margin-bottom: 2vh;}


.azul{background-color: aqua;}
.rosa{background-color: blueviolet;}
.verde{background-color: chartreuse;}
.laranja{background-color: chocolate;}
.preto{color: black;}